<a href="https://colab.research.google.com/github/Snehagh/MarketBasketOptimisation/blob/main/Market_Basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# installing apyori package

!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
import numpy as np
import pandas as pd

from apyori import apriori

In [ ]:
# reading the dataset

df = pd.read_csv('_Market_Basket_Optimisation.csv', header = None)

df.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [ ]:
df.fillna(0,inplace=True)

df.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...                0        0          0
2        chutney          0           0  ...                0        0          0
3         turkey    avocado           0  ...                0        0          0
4  mineral water       milk  energy bar  ...                0        0          0

[5 rows x 20 columns]

In [ ]:
transactions = []
for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j])!='0'])

transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [ ]:
rules = apriori(transactions,min_support=0.003,min_confidance=0.2,min_lift=3,min_length=2)


Results = list(rules)

In [ ]:
df_results = pd.DataFrame(Results)
df_results.head()

                              items  ...                                 ordered_statistics
0        (cottage cheese, brownies)  ...  [((brownies), (cottage cheese), 0.102766798418...
1            (light cream, chicken)  ...  [((chicken), (light cream), 0.0755555555555555...
2  (mushroom cream sauce, escalope)  ...  [((escalope), (mushroom cream sauce), 0.072268...
3                 (pasta, escalope)  ...  [((escalope), (pasta), 0.07394957983193277, 4....
4       (fresh bread, tomato juice)  ...  [((fresh bread), (tomato juice), 0.09907120743...

[5 rows x 3 columns]

In [ ]:
support = df_results.support


first_values = []
second_values = []
third_values = []
fourth_value = []
for i in range(df_results.shape[0]):
    single_list = df_results['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_value.append(single_list[3])

In [ ]:
lhs = pd.DataFrame(first_values)
rhs= pd.DataFrame(second_values)
confidance=pd.DataFrame(third_values,columns=['Confidance'])
lift=pd.DataFrame(fourth_value,columns=['lift'])

In [ ]:
df_final = pd.concat([lhs,rhs,support,confidance,lift], axis=1)

In [ ]:
df_final.fillna(value='', inplace=True)

In [ ]:
df_final.head()

             0 1                     0 1 2   support  Confidance      lift
0     brownies          cottage cheese      0.003466    0.102767  3.225330
1      chicken             light cream      0.004533    0.075556  4.843951
2     escalope    mushroom cream sauce      0.005733    0.072269  3.790833
3     escalope                   pasta      0.005866    0.073950  4.700812
4  fresh bread            tomato juice      0.004266    0.099071  3.259356

In [ ]:
df_final.columns = ['Left hand side',' ','Right hand side',' ',' ','support','confidance', 'lift',]

In [ ]:
df_final.drop(columns=[' ',' ',' ',' '],inplace=True)

In [ ]:
df_final.head()

  Left hand side       Right hand side   support  confidance      lift
0       brownies        cottage cheese  0.003466    0.102767  3.225330
1        chicken           light cream  0.004533    0.075556  4.843951
2       escalope  mushroom cream sauce  0.005733    0.072269  3.790833
3       escalope                 pasta  0.005866    0.073950  4.700812
4    fresh bread          tomato juice  0.004266    0.099071  3.259356